<h1>Cart</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price (EGP/hr)</th>
                    <th>Duration (hrs)</th>
                    <th>SubTotal (EGP)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.cart)
                {
                    <tr>
                        <td>@item.PlayGround.PlaygroundName</td>
                        <td>@item.PlayGround.HourlyPrice</td>
                        <td>@item.Duration</td>
                        <td>@(item.PlayGround.HourlyPrice * item.Duration)</td>
                    </tr>
                }

                <tr>
                    <td colspan="2" class="text-end"><strong>Total Duration:</strong></td>
                    <td colspan="2">@ViewBag.TotalDuration hours</td>
                </tr>

                <tr>
                    <td colspan="2" class="text-end"><strong>Total Price:</strong></td>
                    <td colspan="2">@ViewBag.Total EGP</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-controller="Playground" asp-action="GetAll" class="btn btn-info">Go Back</a>
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-success">Checkout</a>
</div>
