@model TeamInfoVm
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Trible A | Gymnastic" />
    <!-- Normalize File -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- slider css -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <!-- Web Fonts File -->
    <link rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />
    <link rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css" />
    <link rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css" />
    <link rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css" />
    <link rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css" />
    <!-- CSS Main File -->
    <link rel="stylesheet" href="~/css/teams.css" />
    <!-- Font Faamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
    rel="stylesheet" />
    <title>Trible A | Gymnastic | Profile</title>
</head>
<body>
    <div class="loading">
        <div class="animation">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>

    <div class="blur">
        <div class="header" id="header">
            <div class="time">
                <i class="fa-solid fa-futbol"></i>
                <p>Curva Hagz</p>
            </div>
            <div class="social-media">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="landing-page">
            <div class="container">
                <div class="nav">
                    <div class="logo">
                        <i class="fa-solid fa-futbol"></i>
                        <p>Curva <span>Hagz</span></p>
                    </div>
                    <div class="links">
                        <ul id="menu">
                            <i class="fa-regular fa-circle-xmark" onclick="closemenu()"></i>
                            <a asp-controller="Home" asp-action="Index">
                            <li>home</li></a>
                            <a asp-controller="Home" asp-action="About">
                            <li>about us</li></a>
                            <a asp-controller="Home" asp-action="Contact">
                            <li>contact</li></a>
                            @if ((int)ViewBag.Owner == 0)
                            {
                                <a href="../Teams/TeamInfo">
                                <li>Teams</li></a>
                            }
                            @if ((int)ViewBag.Owner == 0)
                            {
                                <a href="../Playground/GetAll">
                                <li>Playgrounds</li></a>
                            }
                        </ul>
                        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
                        <a asp-controller="Account" asp-action="PlayerProfile" class="profile-button">profile</a>
                    </div>
                </div>
                <!-- <div class="content reveal reveal-bottom">
                <h1>Profile</h1>
                </div> -->
            </div>
        </div>

        @{
            string NoTeam = "";
            string HasTeam="";
            string IsCaptain="";
            if (ViewBag.MemberHasTeam == true)
            {
                NoTeam = "hide";
                HasTeam = "";
            }else{
                NoTeam = "";
                HasTeam = "hide";
            }
            int i = 0;
        }

        <div class="teams @((int)ViewBag.Owner == 0?"":"hide")">
            <div class="container">
                <div class="team-section">
                    <div class="no-team @NoTeam">
                        <i class="fa-regular fa-users-medical"></i>
                        <p>currently not on a team</p>
                        <button onclick="jointeam()">Join Team</button>

                    </div>
                    <div class="team @HasTeam">
                        <div id="section" class="progresses">
                            <div class="progress reveal reveal-left">
                                <div class="circle-progress">
                                    <span class="progress-value" data-prog="30">0%</span>
                                </div>
                                <p>Win</p>
                            </div>
                            <div class="progress">
                                <div class="circle-progress">
                                    <span class="progress-value" data-prog="40">0%</span>
                                </div>
                                <p>Draw</p>
                            </div>
                            <div class="progress reveal reveal-right">
                                <div class="circle-progress">
                                    <span class="progress-value" data-prog="30">0%</span>
                                </div>
                                <p>Loss</p>
                            </div>
                        </div>
                        <div class="team-members">
                            @foreach (var Member in Model.Members)
                            {
                                <div class="member">
                                    <div class="details">
                                        <img src="~/Images/userphoto.png" alt="image" class="image" />
                                        <div class="text">
                                            <h3>@(Member.FName +' ' + Member.LName )</h3>
                                            <p>@(i==0 ? "Captain" : "Member")</p>
                                        </div>
                                    </div>
                                    <button class="chat">Chat with</button>
                                    <a asp-controller="Teams" asp-action="Removemember" asp-route-RemovedMemberId="@Member.Id" class="remove @(ViewBag.IsCaptain && (i!=0) ? "" : "hide")">Remove</a>
                                </div>
                                i++;
                            }
                        </div>

                    </div>
                </div>
                <div class="team-space"></div>
                <div class="team-chat">
                    <div class="no-chat @NoTeam">
                        <i class="fa-solid fa-message-xmark"></i>
                        <p>no messages currently</p>
                    </div>
                    <div class="chats @HasTeam">
                        <div class="messages">
                            <div class="message">
                                <img src="~/Images/userphoto.png" alt="image" />
                                <div class="text">
                                    <h4>Abdelrahman Harun</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Quasi, rerum. Aperiam, quos corrupti! Expedita, sed?
                                    </p>
                                </div>
                            </div>
                            <div class="message">
                                <img src="~/Images/userphoto.png" alt="image" />
                                <div class="text">
                                    <h4>Abdelrahman Harun</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Quasi, rerum. Aperiam, quos corrupti! Expedita, sed?
                                    </p>
                                </div>
                            </div>
                            <div class="message">
                                <img src="~/Images/userphoto.png" alt="image" />
                                <div class="text">
                                    <h4>Abdelrahman Harun</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Quasi, rerum. Aperiam, quos corrupti! Expedita, sed?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <input type="text" name="message" id="msg" placeholder="Enter your message">
                            <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="about reveal reveal-left">
                    <div class="logo">
                        <i class="fa-solid fa-futbol"></i>
                        <p>Curva <span>Hagz</span></p>
                    </div>
                    <div class="info">
                        <p>
                            Welcome to Triple A, where your fitness journey begins! At
                            Triple A. Join us today and unleash your full potential at
                            Triple A!
                        </p>
                        <div class="location">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>FCI-KFSU-KFS-EGY</p>
                        </div>
                        <div class="phone">
                            <i class="fa-solid fa-phone"></i>
                            <p>(+20) 127 489 2442</p>
                        </div>
                    </div>
                </div>
                <div class="quick-links reveal reveal-left">
                    <h3>quick links</h3>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="index.html">home</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="about.html">about us</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="contact.html">contact</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="#">classes</a>
                    </div>
                </div>
                <div class="useful-links reveal reveal-right">
                    <h3>useful links</h3>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="#">privacy policy</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="#">term & conditions</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="#">elements</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-angle-right"></i>
                        <a href="#">support</a>
                    </div>
                </div>
                <div class="newsletter reveal reveal-right">
                    <h3>newsletter</h3>
                    <p>
                        Stay informed and inspired with our newsletter, exciting updates,
                        and special offers delivered straight to your inbox.
                    </p>
                    <form action="#">
                        <input type="email"
                               name="email"
                               id="email"
                               placeholder="Email Address"
                               autocomplete="on" />
                        <input type="submit" value="subscribe" />
                    </form>
                </div>
            </div>
        </div>

        <footer>
            <p>copyright &copy; triple a 2024 all rights reserved</p>
            <div class="social-media">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </footer>
    </div>

    <div class="team-tab tab">
        <div class="selectors">
            <ul class="filter">
                <li data-type=".table" class="active type create">create team</li>
                <li data-type=".dashboard" class="type join">join team</li>
                <li data-type=".attendance" class="type request">requests</li>
            </ul>
        </div>
        <div class="join-page">
            <form asp-controller="Teams" asp-action="Join" method="POST">
                <label for="team-name-join">team name</label>
                <input type="text"
                       asp-for="TeamName"
                       id="team-name-join"
                       placeholder="Enter the team name" />
                <div class="btns">
                    <div class="button" data-close="join-tab">cancel</div>
                    <input type="submit" name="sub-team" value="Send Request" />
                </div>
            </form>
        </div>
        <div class="create-page">
            <form asp-controller="Teams" asp-action="Create" method="POST">
                <label for="team-name-create">team name</label>
                <input type="text"
                       asp-for="TeamName"
                       id="team-name-create"
                       placeholder="Enter the team name" />

                
                <label for="city">city</label>
                <select asp-for="City" id="city">
                    <option value="alexandria">Alexandria</option>
                    <option value="elbeheira">Elbeheira</option>
                    <option value="Kafrelsheikh">Kafrelsheikh</option>
                </select>
                <p>Upload Team Logo</p>
                <label class="team-logo" for="logo">Choose File</label>
                <input type="file" id="logo" class="logo-input" />
                <div class="logo-name" id="logo-name">No file chosen</div>
                <div class="btns">
                    <div class="button" data-close="join-tab">cancel</div>
                    <input type="submit" name="sub-team" value="Create Team" />
                </div>
            </form>
        </div>
        <div class="request-page">
            <div class="request">
                <div class="details">
                    <img src="~/Images/userphoto.png" alt="logo" class="logo" />
                    <div class="text">
                        <h3>Team Name</h3>
                        <span>Alexandria</span>
                        <span> - </span>
                        <span>5/7</span>
                    </div>
                </div>
                <div class="buttons">
                    <button class="accept">Accept</button>
                    <button class="decline">Decline</button>
                </div>
            </div>
            <div class="request">
                <div class="details">
                    <img src="~/Images/userphoto.png" alt="logo" class="logo" />
                    <div class="text">
                        <h3>Team Name</h3>
                        <span>Alexandria</span>
                        <span> - </span>
                        <span>5/7</span>
                    </div>
                </div>
                <div class="buttons">
                    <button class="accept">Accept</button>
                    <button class="decline">Decline</button>
                </div>
            </div>
            <div class="request">
                <div class="details">
                    <img src="~/Images/userphoto.png" alt="logo" class="logo" />
                    <div class="text">
                        <h3>Team Name</h3>
                        <span>Alexandria</span>
                        <span> - </span>
                        <span>5/7</span>
                    </div>
                </div>
                <div class="buttons">
                    <button class="accept">Accept</button>
                    <button class="decline">Decline</button>
                </div>
            </div>
            <button class="cancel">Cancel</button>
        </div>
    </div>

    <span class="scroll">
        <i class="fa-solid fa-arrow-up"></i>
    </span>

    <script src="~/js/teams.js"></script>
</body>
</html>


